
.icon-facebook-squared:before { content: '\e800'; } /* '' */
.icon-youtube-play:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-share:before { content: '\e803'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */